ul.nav {
	list-style-type: none;
  background-color: teal;
	position: fixed;
 	top: 0;
  padding-left: 0;
	padding-right: 0;
	right: 16;
	width: 71.41%;
}

li.nav {
  float: left;
}

li.nav a {
  font-family: "Arial", serif;
	font-size: 1.5em;
	display: block;
    color: lightgreen;
  	text-align: center;
		padding: 8px 24px;
  	text-decoration: none;
}

li.nav a:hover {
  background-color: darkblue;
}

ul.nodot {
	list-style-type: none;
  margin-left: 8%;
}

header.resume {
	padding-top: 5%;
	text-align: center;
}

td.right {
	padding-left: 25;
}

h1 {
	margin-top: 8%;
	text-align: center;
}

iframe.eliza {
	padding-left: 8%;
	flex-grow: 2;
	border: none;
	margin-top: -1%
}

div.eliza {
	display: flex;
	flex-flow: row;
	height: 100%
}

div.twine {
	display: flex;
	justify-content: center;
	width: 100%;
}

div.twine_statement {
display: flex;
flex-direction: column;
margin-left: 20%;
margin-right: 20%;
}

h2.twine {
	text-align: center;
}

p {
	font-size: 1.2em;
}

iframe.twine {
	width: 1200px;
	height: 800px;
}
